<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Unibox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Unibox.Properties.Settings>
            <setting name="AppDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InstallationInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RemapToInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AppMainWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="AppMainHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="AppInstallationsPgTopPanelHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AppInstallationsPgMidPanelHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SsUsername" serializeAs="String">
                <value>{Please set}</value>
            </setting>
            <setting name="SsPassword" serializeAs="String">
                <value>{Please set}</value>
            </setting>
            <setting name="SsApiName" serializeAs="String">
                <value />
            </setting>
            <setting name="SsApiUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SsApiPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ssThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseSsForRomAdds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopRomAddOnNoScreenscraperMatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SsRegionPriorities" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="MessagingPort" serializeAs="String">
                <value>51723</value>
            </setting>
            <setting name="AllowOfflineGameUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPlatformXml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AppButtonPadding" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AppRomUploadWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AppRomUploadHeight" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="AddRomInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AppNavBarOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppPlatformDetailsHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AppPlatformDetailsWidth" serializeAs="String">
                <value>400</value>
            </setting>
        </Unibox.Properties.Settings>
    </userSettings>
</configuration>