<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Unibox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Unibox.Properties.Settings>
            <setting name="AppDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InstallationInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RemapToInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AppMainWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="AppMainHeight" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="AppInstallationsPgTopPanelHeight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AppInstallationsPgMidPanelHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="SsUsername" serializeAs="String">
                <value>{Please set}</value>
            </setting>
            <setting name="SsPassword" serializeAs="String">
                <value>{Please set}</value>
            </setting>
            <setting name="SsApiName" serializeAs="String">
                <value />
            </setting>
            <setting name="SsApiUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SsApiPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ssThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UseSsForRomAdds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopRomAddOnNoScreenscraperMatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SsRegionPriorities" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="MessagingPort" serializeAs="String">
                <value>51723</value>
            </setting>
            <setting name="AllowOfflineGameUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupPlatformXml" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppFontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="AppButtonPadding" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AppRomUploadWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AppRomUploadHeight" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="AddRomInitialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AppNavBarOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppPlatformDetailsHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AppPlatformDetailsWidth" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="AppListPadding" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LbGameMediaList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Advertisement Flyer - Back</string>
                        <string>Advertisement Flyer - Front</string>
                        <string>Amazon Background</string>
                        <string>Amazon Poster</string>
                        <string>Amazon Screenshot</string>
                        <string>Arcade - Cabinet</string>
                        <string>Arcade - Circuit Board</string>
                        <string>Arcade - Control Panel</string>
                        <string>Arcade - Controls Information</string>
                        <string>Arcade - Marquee</string>
                        <string>Banner</string>
                        <string>Box - 3D</string>
                        <string>Box - Back</string>
                        <string>Box - Back - Reconstructed</string>
                        <string>Box - Front</string>
                        <string>Box - Front - Reconstructed</string>
                        <string>Box - Full</string>
                        <string>Box - Spine</string>
                        <string>Cart - 3D</string>
                        <string>Cart - Back</string>
                        <string>Cart - Front</string>
                        <string>Clear Logo</string>
                        <string>Disc</string>
                        <string>Epic Games Background</string>
                        <string>Epic Games Poster</string>
                        <string>Epic Games Screenshot</string>
                        <string>Fanart - Background</string>
                        <string>Fanart - Box - Back</string>
                        <string>Fanart - Box - Front</string>
                        <string>Fanart - Cart - Back</string>
                        <string>Fanart - Cart - Front</string>
                        <string>Fanart - Disc</string>
                        <string>GOG Poster</string>
                        <string>GOG Screenshot</string>
                        <string>Icon</string>
                        <string>Origin Background</string>
                        <string>Origin Poster</string>
                        <string>Origin Screenshot</string>
                        <string>Poster</string>
                        <string>Screenshot - Game Over</string>
                        <string>Screenshot - Game Select</string>
                        <string>Screenshot - Game Title</string>
                        <string>Screenshot - Gameplay</string>
                        <string>Screenshot - High Scores</string>
                        <string>Square</string>
                        <string>Steam Banner</string>
                        <string>Steam Poster</string>
                        <string>Steam Screenshot</string>
                        <string>Uplay Background</string>
                        <string>Uplay Thumbnail</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AppCalendarSize" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AppPermittedImageExts" serializeAs="String">
                <value>png,jpeg,jpg</value>
            </setting>
            <setting name="AppPermittedVideoExts" serializeAs="String">
                <value>mp4,wmv,avi,mkv</value>
            </setting>
            <setting name="AppPermittedManualExts" serializeAs="String">
                <value>pdf,doc,docx,txt,rtf</value>
            </setting>
            <setting name="AppPermittedMusicExts" serializeAs="String">
                <value>mp3,wav</value>
            </setting>
            <setting name="AppMediaIndicatorSize" serializeAs="String">
                <value>24</value>
            </setting>
        </Unibox.Properties.Settings>
    </userSettings>
</configuration>