<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unibox.Plugin.Data.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Unibox.Plugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Unibox.Plugin.Data.Settings>
            <setting name="Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowGameOnAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
        </Unibox.Plugin.Data.Settings>
        <Unibox.Plugin.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>51723</value>
            </setting>
            <setting name="AppDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameOnAdd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGameOnEdit" serializeAs="String">
                <value>False</value>
            </setting>
        </Unibox.Plugin.Properties.Settings>
    </userSettings>
</configuration>